*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    margin: 20px;
}

.prendaStock{
    width: 20vh;
    margin: 20px;
    border: 1px solid black;
    background-color: yellow;
}

header{
    margin: 20px;
}

#stock{
    display: flex;
    flex-direction: row;
}