@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agdasima', sans-serif;
}

body{
    background-image: url(assets/img/background-cinema.jpg);
    backdrop-filter: blur(5px);
    margin: 0 80px;
    min-height: 90vh;
}

footer p{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: azure;
}

a{
    text-decoration: none;
}

div{
    margin: 10px;
}

.navBar{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.barraNav{
    background-color: rgba(240, 255, 255, 0.425);
    border-radius: 20px;
    padding: 10px;
}

.buscador{
    position: relative;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inputBusqueda{
    width: 200px;
    z-index: 10;
}

#btnCerrarSideNav{
    position: fixed
}

.botonCerrarSide{
    position: absolute;
    left: 0;
}

.formBuscador{
    display: flex;
}

#lateralNav{
    display: none;
    position: absolute;
    background-color: rgba(240, 255, 255, 0.582);
    width: 275px;
    top: 0;
    height: auto;
    max-height: 65vh;
    border-radius: 20px;
    z-index: 9;
    overflow-y:scroll;
    overflow-x: hidden;
}

.cerrarSideNav{
    position: absolute;
    right: 30px;
    top: -10px;
}

#opcionesLateral{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.minMovieCard{
    background-color: rgba(240, 248, 255, 0.767);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 0 10px;
    border-radius: 15px;
}


.imagenMiniCard{
    margin: 0;
    width: 30%;
}

.imagenMiniCard img{
    width: 60px;
}

.dataMiniCard{
    width: 70%;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.btnMiniCard{
    position: relative;
    right: 10;
}

.tituloHeader{
    color: rgb(230, 191, 87);
    font-size: 40px;
    text-shadow: -2px 7px 4px rgb(0, 0, 0);
}

.fav{
    display: flex;
    flex-direction: column;
}

.subtitulo{
    font-size: 35px;
    margin-top: 0;
    color: rgb(230, 191, 87);
    text-shadow: -2px 7px 4px rgb(0, 0, 0);
    display: inline;
}

.movieCard{
    border: 0.5px solid black;
    border-radius: 0 20px 0 20px;
    font-size: 12px;
    width: 30%;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0.603);
    position: relative;
}

.dataMovie{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.imagenMovie{
    text-align: center;
}

.containerData{
    margin: auto;
    width: 100%;
}

.barraData{
    position: absolute;
    width: 100%;
    display: none;
    margin: auto;
    bottom: 0;
}

.movieCard:hover{
    .barraData{
        background-color: rgba(240, 248, 255, 0.904);
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
    }
} 
.movieTitle{
    font-size: 20px;
    text-align: center;
}

#containerFav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.material-symbols-outlined{
    cursor: pointer;
}

.volverHome{
    font-size: 50px;
}

#catalogoFull{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

#btnAyuda{
    color: aliceblue;
}

.containerMovies{
    display: flex;
    flex-direction: row;
}

.subtituloCatalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#selectorOrden{
    width: 250px;
    font-size: 25px;
}

#btnAgregarCat{
    font-size: 40px;
    position: sticky;
    top:500px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: aliceblue;
}

#btnAgregarCat:hover{
    box-shadow: 10px 15px 32px 1px rgba(0,0,0,0.66);
-webkit-box-shadow: 10px 15px 32px 1px rgba(0,0,0,0.66);
-moz-box-shadow: 10px 15px 32px 1px rgba(0,0,0,0.66);
}

#formularioAgregaMovie{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(3,1fr);
}

#inputTitulo{
    grid-column: 1;
    grid-row: 1;
}

#inputDirector{
    grid-row: 1;
    grid-column: 2;
}

#inputEstreno{
    grid-row: 2;
    grid-column: 1;
}

#inputValoracion{
    grid-row: 2;
    grid-column: 2;
}

#inputTrailer{
    grid-row: 3;
    grid-column: 1;
}

#btnEnviar{
    grid-row: 3;
    grid-column: 2;
    font-size: 30px;
    width: 500px;
    margin: 15px;
}

#formularioAgregaMovie input{
    font-size: 30px;
    width: 500px;
    margin: 15px;
}

#formularioAgregaMovie button:hover{
    background-color: aquamarine;
}

#formularioAgregaMovie input:hover{
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    font-style: italic;
}

.dataAgregaMovie{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.volver{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}